.SignIn
    .form-wrapper
        .input-wrapper
            .globalErrorHandler
                &.passwordError
                    display: none
                    &.show
                        display: block
                        > span
                            display: block
                    &.hide
                        display: none