.campaign-header
    width 100%
    m-flex(space-between)
    ._title
        m-flex(space-around)
        span
            m-font(Roboto, normal, bold, 23px, 20px)
            color #979797
        .DashNavLink
            padding-left 10px
    .DashNavContainer
        .DashNavLink
            text-decoration none

@media screen and (max-width: 768px)
    .campaign-header
        ._title
            padding: 15px 0 0 15px
