.volunteerFormSection
    padding: 10px 15px 0 15px
    .titleBody
        display: flex
        img
            width: 30px
            height: 30px
            margin-right: 10px
            vertical-align: middle
        p
            color: #20AFFF
            font-size: 25px
            font-weight: bold
            line-height: 32px
            margin: 0 0 15px 0
    .row
        padding: 20px 0
        &.flex
            display: flex
            align-items: center
            justify-content: space-between
            p
                margin-right: 15px
                &.desc
                    margin-left: 15px
        p
            color: #000000
            font-size: 15px
            line-height: 21px
            margin: 0 0 5px 0
            &.title
                font-weight: bold
            &.desc
                font-weight: normal
        input
            border: 2px solid #E0E0E0
            font-size: 15px
            line-height: 20px
            padding: 10px 15px
            width: 100%
            &::placeholder
                color: #4F4F4F
        button
            border-radius: 0
            padding: 13px 60px
            span
                font-size: 18px !important
                font-weight: bold
                line-height: 22px